{:paths ["src" "notebooks"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  ;; clerk with SCI eval
  io.github.nextjournal/clerk {#_#_ :git/sha "2f098e1b78c2cbf961b8d3633c98cdcdd6640e21"
                               :local/root "../clerk"
                               #_#_ :mvn/version "0.12.699"}

  missionary/missionary {:mvn/version "b.39"}

  ;; box/arrow graphs
  arrowic/arrowic {:mvn/version "0.1.1"}

  ;; dependent types for you!
  io.gitlab.fredokun/deputy {:deps/manifest :deps
                             :git/sha "d999fe6aa3182a121d423bd790b8ccbe7c590877"
                             #_#_:local/root "../deputy"}}

 :aliases
 {:clerk-cljs
  {:extra-deps {io.github.nextjournal/clerk {:git/sha "0c30c73459c5b66bc6ae0efc65513d32d1009958"}}}

  :sci
  {:extra-paths ["dev"]
   :exec-fn scrapbook/dev
   :extra-deps {io.github.nextjournal/clerk.render {:git/url "https://github.com/nextjournal/clerk"
                                                    :git/sha "b12aad2afe45690ecfd1b2619025cb0fab2dc77f"
                                                    :deps/root "render"}}
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}"
              "-Dpolyglot.engine.WarnInterpreterOnly=false"
              "-XX:-OmitStackTraceInFastThrow"
              "-Dclojure.main.report=stdout"]}

  ;; latte proof assistant
  :latte
  {:extra-deps
   {io.github.latte-central/LaTTe {:git/sha "521d7f5e02bdec133a251d9dfbdbac6c42481eb7"}
    io.github.latte-central/latte-prelude {:git/sha "860c3f747164686fe69296af7e4b9c5d788cf23f"
                                           :deps/manifest :deps}
    io.github.latte-central/latte-sets {:git/sha "d9206212a53d53513ebc4ac761be88ded4accae5"
                                        :deps/manifest :deps}}}

  :nextjournal/garden
  {:exec-fn ops/boot
   :jvm-opts ["-Dclojure.main.report=stdout"]
   :extra-paths ["ops"]}

  :nextjournal/clerk
  {:jvm-opts ["-Dclojure.main.report=stdout"]
   :exec-fn nextjournal.clerk/build!
   :exec-args {:git/url "https://github.com/zampino/scrapbook"
               :paths ["notebooks/scrapbook/**/*.clj"]
               :browse false}}}}
