{:paths ["src" "notebooks"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  io.github.nextjournal/clerk {:git/sha "b7207926bacb10e6af17075efd71df3363b74d21"
                               #_#_:local/root "../clerk"
                               #_#_ :mvn/version "0.12.699"}

  ;; box/arrow graphs
  arrowic/arrowic {:mvn/version "0.1.1"}

  ;; dependent types for you!
  io.gitlab.fredokun/deputy {:deps/manifest :deps
                             :git/sha "d999fe6aa3182a121d423bd790b8ccbe7c590877"
                             #_#_:local/root "../deputy"}}

 :aliases
 {:shadow
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.2"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :dev
  {:extra-paths ["dev"]
   :exec-fn scrapbook/dev
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}"
              "-Dpolyglot.engine.WarnInterpreterOnly=false"
              "-XX:-OmitStackTraceInFastThrow"
              "-Dclojure.main.report=stdout"]}

  ;; latte proof assistant
  :latte
  {:extra-deps
   {io.github.latte-central/LaTTe {:git/sha "521d7f5e02bdec133a251d9dfbdbac6c42481eb7"}
    io.github.latte-central/latte-prelude {:git/sha "860c3f747164686fe69296af7e4b9c5d788cf23f"
                                           :deps/manifest :deps}
    io.github.latte-central/latte-sets {:git/sha "d9206212a53d53513ebc4ac761be88ded4accae5"
                                        :deps/manifest :deps}}}

  :nextjournal/garden
  {:exec-fn ops/boot
   :extra-paths ["ops"]
   :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}}

  :nextjournal/clerk
  {:jvm-opts ["-Dclojure.main.report=stdout"]
   :exec-fn nextjournal.clerk/build!
   :exec-args {:git/url "https://github.com/zampino/scrapbook"
               :paths ["notebooks/scrapbook/**/*.clj"]
               :browse false}}}}
