{:nrepl {:cider false}
 :dev-http {9000 {:roots ["public" "classpath:public"]}}
 :builds
 {:sci
  {:target :esm
   :compiler-options {:source-map true}
   :output-dir "public/js"
   :release {:output-dir "public/build/js"}
   :modules {:viewer {:entries [scrapbook.sci-ext]}}
   :js-options {:output-feature-set :es8}}}}
